{#
/**
 * @file
 * Theme implementation to display the twitter field.
 *
 * Available variables:
 * - twitter_script: twitter script.
 */
#}

<div class="twitter-block">
  <div class="title">
    <h3>{{ "Company on twitter"|t }}</h3>
  </div>
  {{ twitter_script }}
</div>
